# Public Google API key for Maps
NEXT_PUBLIC_GOOGLE_API_KEY=

# Supabase configuration
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Google Maps scraper service configuration
GMAPS_AWS_REGION=
GMAPS_AWS_CLUSTER=
GMAPS_AWS_SERVICE=
GMAPS_API_TOKEN=
GMAPS_BASE_URL=
